$tablet: 640px;

.container {
  @media (min-width: $tablet) {
    display: flex;
  }
}
.image-container {
  position: relative;
  height: 200px;
  @media (min-width: $tablet) {
    width: 40%;
    height: auto;
  }
}
.text-container {
  padding: 10px;
  @media (min-width: $tablet) {
    width: 60%;
  }
  
  p {
    color: white;
  }

  ul {
    li {
      padding-left: 20px;
    }
  }
}
.header {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
