.main {
  width: calc(100% - 150px);
  padding: 0 10px;
}

.container {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 10px 5px;
}

.footer {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  p {
    color: white;
    font-size: 18px;
  }
}