.main {
  width: calc(100% - 150px);
  padding: 0 10px;
}

.container {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 10px 5px;
}

.footer {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;

  p {
    color: white;
    font-size: 18px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  p {
    color: white;
  }

  button {
    background-color: yellow;
    width: 100px;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}